/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* span {
  color: #f00;
    -webkit-filter: invert(100%);
    filter: invert(100%);
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}